@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .packages
    &-wrapper
      width: 960px
  .main
    &__image
      min-width: 266px
      max-width: 266px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
    &__additional
      margin-left: -28px
    &__legal
      padding-left: 20px
    &__social
      &-network
        margin-left: -30px
    &__links
      padding-left: 21px
@media (min-width: 992px)
  a
    &:hover
      color: $primary
  button
    &:hover
      opacity: 0.7
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .packages
    &-wrapper
      max-width: 700px
      grid-template: 500px 500px 500px / 1fr 1fr
      grid-template-areas: "first first" "second third" "fourth fifth"
  .main
    &__image
      min-width: 350px
      max-width: 350px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47.25px
      margin-right: 73px
    &-menu
      padding: 22px 13.5px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    padding: 28px 22px
    width: 340px
    height: 210px
  .map
    width: 340px
    height: 210px
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__button
        top: 50%
        transform: translateY(-50%)
        &--prev
          left: 0px
        &--next
          right: 0px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 51px
  .newsletter
    padding: 92px 0 93px 0
  .activities
    padding-top: 45px
    padding-bottom: 51px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-row-gap: 44px
      grid-column-gap: 27px
      padding-bottom: 59px
    &__logo
      width: 95px
    &__input
      &-group
        flex-basis: 44%
        margin-right: 28px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 7
        align-self: center
        justify-self: center
        padding-top: 13px
        padding-left: 57px
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
    &__additional
      grid-column: span 5
      padding: 0
      padding-left: 18px
      margin-left: 0
    &__legal
      grid-column: span 4
      padding: 0
      padding-left: 14px
    &__contact
      &-details
        grid-column: span 10
        grid-row: 3
        padding-top: 10px
      &-form
        grid-column: span 10
        grid-row: 4
        padding: 0
    &__title
      margin-bottom: 18px
      padding-top: 5px
      &--mb-3
        margin-bottom: 26px
        padding-top: 4px
        padding-top: 9px
      &--inline
        margin-bottom: 0
        padding-top: 0
      &-contact
        padding-top: 0
        margin-bottom: 36px
        margin-top: -5px
    &__icon
      margin-left: 3px
      &-wrapper
        margin-right: 6px
      &-map
        padding-left: 6px
    &__links
      grid-column: 1 / 3
      padding: 0
    &__text
      margin-bottom: 23px
    &__form
      justify-content: start
    &__message
      flex-basis: 93%
  .modal
    &__dialog
      padding: 20px 60px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .packages
    &-wrapper
      max-width: 100%
  .main
    &__image
      min-width: 50%
      max-width: 50%
    &-booking
      padding: 46px 15px 25px 20px
      &__info
        font-size: 14px
        line-height: 18px
        margin-bottom: 25px
  .secondary
    &-booking
      padding: 19px 15px
  .navbar
    &-bottom
      display: none
      position: fixed
      bottom: 0
      right: 0
      left: 0
      top: 73px
      padding-top: 30px
      &--visible
        display: block
        overflow: scroll
    &--mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
          margin: 0
    &__user
      flex-direction: column
      justify-content: center
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: flex
            justify-content: center
            max-width: 85%
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
      &__button
        &--next
          right: 10px
        &--prev
          left: 10px
  .booking
    width: 100%
  .map
    width: 100%
    height: 210px
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -85px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -85px
          transform: translate(50%, 0)
  .card
    width: 49%
  .footer
    &__input
      &-group
        flex-basis: 100%
        margin-right: 0
    &__message
      flex-basis: 100%
      margin-right: 0
    &__title
      font-size: 14px
      &-categories
        margin-right: -6px
    &__additional
      padding-left: 0
    &__legal
      padding-left: 0
    &__form
      justify-content: space-between
  .modal
    &__dialog
      padding: 20px 40px
      width: 80%
      &--visible
        max-height: 480px
    &__title
      margin-top: 0
    &__input
      font-size: 12px
      line-height: 16px
    &__message
      min-height: 95px
      height: 95px
    &__button
      min-height: 30px
      min-width: 90px
      padding: 14px 40px
      margin-right: 8px
@media (max-width: 576px)
  .navbar
    &--mobile
      &-fixed
        max-width: 100vw
  .container
    max-width: 87%
  .packages
    &__title
      margin-bottom: 45px
      font-size: 28px
      line-height: 50px
    &-wrapper
      max-width: 100%
      grid-template: repeat(5, 500px) / repeat(5, 100%)
      grid-template-areas: "first" "second" "third" "fourth" "fifth"
      column-gap: 0px
    &__offer
      &-main
        top: 30px
        padding: 4px 9px
        font-size: 8px
        line-height: 10px
  .navbar
    &-bottom
      &--visible
        padding-top: 9px
  .search
    &__input
      margin-bottom: 25px
  .main
    flex-direction: column
    border-radius: 8px
    &__image
      min-width: 100%
      max-width: 100%
      height: 50%
    &-booking
      padding: 30px 21px 25px 32px
      height: 50%
      &__title
        margin-bottom: 15px
      &__info
        display: none
      &__room
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-bottom: 24px
      &__icon
        width: 14px
        height: 14px
        margin-right: 15px
      &__text
        display: flex
        align-items: center
        font-weight: 400
        font-size: 12px
        line-height: 15px
        margin-bottom: 0
      &__order
        display: flex
        justify-content: space-between
        align-items: flex-end
      &__price
        display: flex
        flex-direction: column
        justify-content: space-between
      &__value
        &--old
          font-weight: 400
          font-size: 14px
          line-height: 18px
          text-decoration-line: line-through
        &--new
          font-weight: 700
          font-size: 24px
          line-height: 30px
  .secondary
    &__image
      min-width: 100%
      max-width: 100%
      height: 50%
    &-booking
      height: 50%
  .logo
    width: 99px
  .navbar-top
    padding-top: 28px
    padding-bottom: 29px
  .hotel
    padding-top: 0px
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
      &__description
        margin: 0
    &-right
      min-height: 403px
      padding-bottom: 0px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 180px
      &__button
        width: 12px
        height: 12px
        &--prev
          left: 6px
          background-image: url(../img/arrow-prev-phone.svg)
        &--next
          right: 6px
          background-image: url(../img/arrow-next-phone.svg)
  .map
    height: 173px
  .stars
    padding: 4px 15px 0 0
  .newsletter
    padding: 76px 20px 83px 20px
    &__subscribe
      width: 280px
    &-wrapper
      margin: 0
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
    &-title
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    padding-bottom: 40px
    &__title
      width: 245px
      margin: auto
      margin-bottom: 42px
    &-slider
      &__profile
        margin-bottom: 33px
      &__button
        top: 30px
        &--prev
          left: 46%
          transform: translate(-45%, 0)
        &--next
          right: 49%
          transform: translate(45%, 0)
      &__text
        text-align: left
  .activities
    padding-top: 55px
    padding-bottom: 43px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &__card
      &--second
        order: 1
        margin-bottom: 28px
      &--third
        order: 2
      &--fourth
        order: 3
  .card
    width: 100%
  .footer
    padding-top: 69px
    padding-bottom: 21pxg
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 26px
      padding-bottom: 27px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 95px
      margin-top: -2px
    &__input
      &-group
        margin-right: 0
        flex-basis: 100%
    &__title
      margin-bottom: 16px
      padding-top: 2px
      font-size: 18px
      &--inline
        margin-bottom: 22px
        padding-top: 6px
      &-categories
        margin-bottom: 22px
      &--mb-3
        margin-bottom: 25px
      &-contact
        padding-top: 11px
        margin-bottom: 15px
    &__social
      &-network
        max-width: 240px
        padding: 0
        padding-top: 10px
        justify-self: start
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      padding-left: 0
    &__additional
      padding-left: 0
    &__contact
      &-details
        max-width: 91%
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        width: 87vw
    &__text
      font-size: 14px
      line-height: 160%
      margin-bottom: 19px
      margin-right: -12px
    &__icon
      margin-top: 2px
      margin-left: 1px
      &-wrapper
        min-width: 30px
        max-width: 30px
        margin: 0
      &-map
        padding-left: 2px
    &__message
      margin-bottom: 17.5px
    &__button
      order: 2
    &__info
      width: 100%
      margin-bottom: 15px
    &__disclaimer
      grid-template-columns: 1fr
    &__links
      grid-row: 1
      grid-column: 1
      margin-bottom: 6px
      &-disclaimer
        font-size: 12px
        margin-right: 4px
    &__payments
      grid-row: 2
      grid-column: 1
      justify-self: start
      margin-top: 3px
      padding-left: 3px
    &__item
      &--mb-2
        margin-bottom: 23px
      &-group
        margin-right: 0
    &__message
      flex-basis: 100%
    &__info
      text-align: left
  .modal
    &__dialog
      padding: 20px 30px
      width: 95%
      &--visible
        max-height: 460px
    &__title
      margin-top: 0
      font-size: 14px
    &__input
      font-size: 14px
      line-height: 16px
    &__message
      min-height: 95px
      height: 95px
    &__button
      min-height: 30px
      min-width: 90px
      padding: 14px 40px
      margin-right: 8px
